# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS junk
.DS_Store

# Certificates & Keys
*.pem
*.key
*.cert

# Environment config (optional)
.env

# Security keys (never commit these!)
keys/
*.pem

# Build output
dist/
package-lock.json

# Temporary files
nul
cookies.txt
